## Objetos Multidimensionais

In [1]:
import pandas as pd
import numpy as np

In [2]:
stockData = np.array([[[63.03,61.48,75],
                      [62.05,62.75,46],
                      [62.74,62.19,53]],     
                      [[411.90, 404.38, 2.9],
                      [405.45, 405.91, 2.6],
                      [403.15, 404.42, 2.4]]])

In [3]:
stockData

array([[[ 63.03,  61.48,  75.  ],
        [ 62.05,  62.75,  46.  ],
        [ 62.74,  62.19,  53.  ]],

       [[411.9 , 404.38,   2.9 ],
        [405.45, 405.91,   2.6 ],
        [403.15, 404.42,   2.4 ]]])

In [4]:
type(stockData)

numpy.ndarray

## Criando um DataFrame a partir de um Dicionário

In [5]:
USData = pd.DataFrame(np.array([[249.62, 8900],
                               [282.16, 12680],
                               [309.35, 14940]]),
                     columns = ['População(M)', 'PIB($B)'],
                     index = [1995, 2005, 2015])

In [6]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [7]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                               [1266.83, 1198.48],
                               [1339.72, 9923.47]]),
                     columns = ['População(M)', 'PIB($B)'],
                     index = [1995, 2005, 2015])

In [8]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [9]:
US_ChinaData = { 'US': USData, 'China': ChinaData }

In [10]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

## MultiIndex

In [11]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     codes = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

In [12]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35],
                              'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                             index = mIdx)

In [13]:
ChinaUSDF

            População(M)   PIB($B)
China 1995       1133.68    390.28
      2005       1266.83   1198.48
      2015       1339.72   6988.47
US    1995        249.62   8900.00
      2005        282.16  12680.00
      2015        309.35  14940.00